In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd

path = "/content/gdrive/MyDrive/Programming/DC1_Atus_Dataset_Cleaned.csv"
df = pd.read_csv(path)
print (df)

        Year     Region State Code (FIPS)  ...  ACT_TRAVEL  ACT_VOL ACT_WORK
0       2003       West        California  ...           0        0        0
1       2003       West        California  ...          20        0        0
2       2003       West        California  ...          10        0        0
3       2003      South           Georgia  ...           0        0      120
4       2003      South          Kentucky  ...          78        0      500
...      ...        ...               ...  ...         ...      ...      ...
210581  2019      South    South Carolina  ...           0        0        0
210582  2019       West            Nevada  ...         100        0        0
210583  2019       West           Wyoming  ...         145        0       30
210584  2019       West        Washington  ...         105        0      485
210585  2019  Northeast      Pennsylvania  ...          64        0        0

[210586 rows x 34 columns]

In [ ]:
df1 = df[['Race', 'Family Income']]
print(df1)

              Race         Family Income
0       Black only    $60,000 to $74,999
1       White only               Refused
2       White only    $75,000 to $99,999
3       Black only    $20,000 to $24,999
4       White only    $75,000 to $99,999
...            ...                   ...
210581  White only    $60,000 to $74,999
210582  White only    $30,000 to $34,999
210583  White only  $100,000 to $149,999
210584  White only    $75,000 to $99,999
210585  White only     $150,000 and over

[210586 rows x 2 columns]

In [ ]:
some_values = ['Black Only', 'White only', 'Asian only', 'White-American Indian', 'American Indian, Alaskan Native']
df2 = df1.loc[df1['Race'].isin(some_values)]
print(df2)

              Race         Family Income
1       White only               Refused
2       White only    $75,000 to $99,999
4       White only    $75,000 to $99,999
5       White only    $40,000 to $49,999
6       White only    $12,500 to $14,999
...            ...                   ...
210581  White only    $60,000 to $74,999
210582  White only    $30,000 to $34,999
210583  White only  $100,000 to $149,999
210584  White only    $75,000 to $99,999
210585  White only     $150,000 and over

[180041 rows x 2 columns]

In [ ]:
fam_values = ['$75,000 to $99,999', '$40,000 to $49,999', '$12,500 to $14,999',
 '$50,000 to $59,999', '$10,000 to $12,499', '$25,000 to $29,999',
 '$60,000 to $74,999', '$20,000 to $24,999',
 '$15,000 to $19,999', '$35,000 to $39,999', '$30,000 to $34,999',
 '$5,000 to $7,499', '$7,500 to $9,999', 'Less than $5,000',
 '$100,000 to $149,999', '$150,000 and over']

df3 = df2.loc[df2['Family Income'].isin(fam_values)]
print(df3)

              Race         Family Income
2       White only    $75,000 to $99,999
4       White only    $75,000 to $99,999
5       White only    $40,000 to $49,999
6       White only    $12,500 to $14,999
7       White only    $75,000 to $99,999
...            ...                   ...
210581  White only    $60,000 to $74,999
210582  White only    $30,000 to $34,999
210583  White only  $100,000 to $149,999
210584  White only    $75,000 to $99,999
210585  White only     $150,000 and over

[168555 rows x 2 columns]

In [ ]:
for col in df2:
    print(df2[col].unique())

['White only' 'Asian only' 'White-American Indian'
 'American Indian, Alaskan Native']
['Refused' '$75,000 to $99,999' '$40,000 to $49,999' '$12,500 to $14,999'
 '$50,000 to $59,999' '$10,000 to $12,499' '$25,000 to $29,999'
 '$60,000 to $74,999' '$20,000 to $24,999' "Don't know"
 '$15,000 to $19,999' '$35,000 to $39,999' '$30,000 to $34,999'
 '$5,000 to $7,499' '$7,500 to $9,999' 'Less than $5,000' 'Blank'
 '$100,000 to $149,999' '$150,000 and over']

In [ ]:
import altair as alt
from vega_datasets import data

source = data.barley()

In [ ]:
import pandas as pd

df_final = pd.read_csv ('/content/gdrive/MyDrive/Programming/temp.csv')
print (df_final)

                               Race Family Income  Number of People
0                        Black only         0K-5K         60.328656
1                        White only         0K-5K         18.658595
2                        Asian only         0K-5K         23.269428
3   American Indian, Alaskan Native         0K-5K         55.939227
4             White-American Indian         0K-5K         25.622255
..                              ...           ...               ...
75                       Black only  150K-AndOver         29.789150
76                       White only  150K-AndOver         79.473658
77                       Asian only  150K-AndOver        174.740231
78  American Indian, Alaskan Native  150K-AndOver         26.243094
79            White-American Indian  150K-AndOver         35.871157

[80 rows x 3 columns]

In [ ]:
order_ofIncome = list(df_final['Family Income'].unique())
print(order_ofIncome)

['0K-5K', '5K-7.5K', '7.5K-10K', '10K-12.5K', '12.5K-15K', '15K-20K', '20K-25K', '25K-30K', '30K-35K', '35K-40K', '40K-50K', '50K-60K', '60K-75K', '75K-100K', '100K-150K', '150K-AndOver']

In [ ]:
import altair as alt
from vega_datasets import data

alt.Chart(df_final).mark_bar().encode(
    x = alt.X('Family Income', sort=order_ofIncome),
    y = 'Number of People',
    color = 'Race'
)

alt.Chart(...)

In [ ]:
df_final.to_pickle('/content/gdrive/MyDrive/Programming/time_usage_survey_dataset_filtered.pkl')

In [ ]:
import pandas as pd

df = pd.read_csv('/content/gdrive/MyDrive/Programming/cereal.csv')
print(df)

                         name mfr type  ...  weight  cups     rating
0                   100% Bran   N    C  ...     1.0  0.33  68.402973
1           100% Natural Bran   Q    C  ...     1.0  1.00  33.983679
2                    All-Bran   K    C  ...     1.0  0.33  59.425505
3   All-Bran with Extra Fiber   K    C  ...     1.0  0.50  93.704912
4              Almond Delight   R    C  ...     1.0  0.75  34.384843
..                        ...  ..  ...  ...     ...   ...        ...
72                    Triples   G    C  ...     1.0  0.75  39.106174
73                       Trix   G    C  ...     1.0  1.00  27.753301
74                 Wheat Chex   R    C  ...     1.0  0.67  49.787445
75                   Wheaties   G    C  ...     1.0  1.00  51.592193
76        Wheaties Honey Gold   G    C  ...     1.0  0.75  36.187559

[77 rows x 16 columns]

In [ ]:
df1 = df[['mfr','rating']]
print(df1)

   mfr     rating
0    N  68.402973
1    Q  33.983679
2    K  59.425505
3    K  93.704912
4    R  34.384843
..  ..        ...
72   G  39.106174
73   G  27.753301
74   R  49.787445
75   G  51.592193
76   G  36.187559

[77 rows x 2 columns]

In [ ]:
brands = ['A', 'G', 'K', 'N', 'P', 'Q', 'R']
final = []

#holder = df1[(df1['rating'] > 70) & (df1['rating'] < 90)].count()
#print(holder['rating'])

for i in brands:
  temp = df1.loc[df1['mfr'] == i]
  arr = []
  for j in range(0, 20):
    start = 5 * j
    end = 5 * (j+1)
    vals = temp[(temp['rating'] > start) & (temp['rating'] <= end)].count()
    arr.append(vals['rating'])

  final_add = {i: arr}
  final.append(final_add)

for row in final:
  print(row)

{'A': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
{'G': [0, 0, 0, 1, 3, 4, 2, 7, 2, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
{'K': [0, 0, 0, 0, 0, 1, 5, 4, 5, 2, 1, 4, 0, 0, 0, 0, 0, 0, 1, 0]}
{'N': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 0, 0, 0, 0, 0]}
{'P': [0, 0, 0, 0, 0, 2, 0, 2, 1, 1, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
{'Q': [0, 0, 0, 1, 1, 0, 1, 0, 0, 2, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0]}
{'R': [0, 0, 0, 0, 0, 0, 2, 1, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [ ]:
import pandas as pd

df_final = pd.read_csv ('/content/gdrive/MyDrive/Programming/temp2.csv')
df_final = df_final[df_final['Rating'].notna()]
print (df_final)

    Manufacturer  Rating  Number of Cereals
0              A     0-5                0.0
1              G     0-5                0.0
2              K     0-5                0.0
3              N     0-5                0.0
4              P     0-5                0.0
..           ...     ...                ...
135            K  95-100                0.0
136            N  95-100                0.0
137            P  95-100                0.0
138            Q  95-100                0.0
139            R  95-100                0.0

[140 rows x 3 columns]

In [ ]:
order_ofRatings = list(df_final['Rating'].unique())
print(order_ofRatings)
#order_ofRatings.sort()
#print(order_ofRatings)

['0-5', '5-10', '10-15', '15-20', '20-25', '25-30', '30-35', '35-40', '40-45', '45-50', '50-55', '55-60', '60-65', '65-70', '70-75', '75-80', '80-85', '85-90', '90-95', '95-100']

In [ ]:
import altair as alt
from vega_datasets import data

alt.Chart(df_final).mark_bar().encode(
    x = alt.X('Rating', sort=order_ofRatings),
    y = 'Number of Cereals',
    color = 'Manufacturer'
)

alt.Chart(...)

In [ ]:
df_final.to_pickle('/content/gdrive/MyDrive/Programming/cereals_dataset_filtered2.pkl')

In [ ]:
import pandas as pd

df = pd.read_csv('/content/gdrive/MyDrive/Programming/museums.csv')
print(df)

        Museum ID  ...    Revenue
0      8400200098  ...   550236.0
1      8400200117  ...  1323742.0
2      8400200153  ...   729080.0
3      8400200143  ...        0.0
4      8400200027  ...   550236.0
...           ...  ...        ...
33067  8405600184  ...        NaN
33068  8405600061  ...        0.0
33069  8405600158  ...    83981.0
33070  8405600137  ...        0.0
33071  8405600199  ...   126762.0

[33072 rows x 25 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,14,21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df1 = df[['Museum Type','Revenue']]
print(df1)

                                         Museum Type    Revenue
0                                     HISTORY MUSEUM   550236.0
1      ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER  1323742.0
2         SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM   729080.0
3                              HISTORIC PRESERVATION        0.0
4                                     HISTORY MUSEUM   550236.0
...                                              ...        ...
33067                          HISTORIC PRESERVATION        NaN
33068                                 GENERAL MUSEUM        0.0
33069                          HISTORIC PRESERVATION    83981.0
33070                                 HISTORY MUSEUM        0.0
33071                          HISTORIC PRESERVATION   126762.0

[33072 rows x 2 columns]

In [ ]:
df1 = df1.dropna()
print(df1)

                                         Museum Type    Revenue
0                                     HISTORY MUSEUM   550236.0
1      ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER  1323742.0
2         SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM   729080.0
3                              HISTORIC PRESERVATION        0.0
4                                     HISTORY MUSEUM   550236.0
...                                              ...        ...
33063                                     ART MUSEUM    43695.0
33068                                 GENERAL MUSEUM        0.0
33069                          HISTORIC PRESERVATION    83981.0
33070                                 HISTORY MUSEUM        0.0
33071                          HISTORIC PRESERVATION   126762.0

[22290 rows x 2 columns]

In [ ]:
df2 = df1[df1['Revenue'] > 0.0]
print(df2)

                                         Museum Type    Revenue
0                                     HISTORY MUSEUM   550236.0
1      ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER  1323742.0
2         SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM   729080.0
4                                     HISTORY MUSEUM   550236.0
6                                     GENERAL MUSEUM    34374.0
...                                              ...        ...
33051                          HISTORIC PRESERVATION   337100.0
33054                                 HISTORY MUSEUM    36399.0
33063                                     ART MUSEUM    43695.0
33069                          HISTORIC PRESERVATION    83981.0
33071                          HISTORIC PRESERVATION   126762.0

[11467 rows x 2 columns]

In [ ]:
museum_types = list(df2['Museum Type'].unique())
#print(len(order_ofRatings))
revenue_list = df2['Revenue'].tolist()
print(len(revenue_list))

import numpy as np

rev = np.array(revenue_list)
curr = [np.percentile(rev, 0), np.percentile(rev, 5), np.percentile(rev, 10), np.percentile(rev, 15), np.percentile(rev, 20), np.percentile(rev, 25), np.percentile(rev, 30), np.percentile(rev, 35), np.percentile(rev, 40), np.percentile(rev, 45), np.percentile(rev, 50), np.percentile(rev, 55), np.percentile(rev, 60), np.percentile(rev, 65), np.percentile(rev, 70), np.percentile(rev, 75), np.percentile(rev, 80), np.percentile(rev, 85), np.percentile(rev, 90), np.percentile(rev, 95), np.percentile(rev, 100)]
print(curr)

11467
[2.0, 7083.5, 16434.800000000007, 27048.7, 38146.8, 49531.0, 63603.0, 79353.4, 97799.20000000001, 125198.0, 156377.0, 202729.70000000004, 265981.3999999999, 370920.00000000023, 535031.0, 826326.5, 1469786.0000000002, 3460390.1000000006, 15070932.999999989, 92521597.0, 5840349457.0]

In [ ]:
print(museum_types)

['HISTORY MUSEUM', 'ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', 'SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', 'GENERAL MUSEUM', 'HISTORIC PRESERVATION', 'ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', 'ART MUSEUM', "CHILDREN'S MUSEUM", 'NATURAL HISTORY MUSEUM']

In [ ]:
final = []

#holder = df1[(df1['rating'] > 70) & (df1['rating'] < 90)].count()
#print(holder['rating'])

for i in museum_types:
  rev_options = []
  temp = df2.loc[df2['Museum Type'] == i]
  arr = []
  end = 0
  for j in range(0, 20):
    if(j < 10):
      start = end
      end = (5000*(j+1)) + start
      vals = temp[(temp['Revenue'] > start) & (temp['Revenue'] <= end)].count()
      arr.append(vals['Revenue'])
      strHolder = str(start) + '-' + str(end)
      rev_options.append(strHolder)
    else:
      start = end
      end = (20000*(j+1)) + start
      vals = temp[(temp['Revenue'] > start) & (temp['Revenue'] <= end)].count()
      arr.append(vals['Revenue'])
      strHolder = str(start) + '-' + str(end)
      rev_options.append(strHolder)

  final_add = {i: arr}
  final.append(final_add)

for row in final:
  print(row)

{'HISTORY MUSEUM': [45, 64, 99, 129, 113, 113, 94, 86, 69, 52, 124, 63, 28, 26, 24, 10, 13, 3, 11, 6]}
{'ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER': [10, 12, 16, 18, 25, 23, 18, 18, 20, 22, 51, 30, 28, 21, 23, 14, 9, 8, 7, 2]}
{'SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM': [4, 11, 9, 7, 11, 10, 12, 14, 9, 7, 31, 17, 7, 8, 9, 8, 12, 10, 6, 3]}
{'GENERAL MUSEUM': [77, 104, 157, 181, 196, 167, 152, 115, 81, 73, 225, 133, 93, 59, 46, 37, 28, 31, 22, 13]}
{'HISTORIC PRESERVATION': [283, 389, 480, 625, 551, 502, 347, 297, 237, 195, 351, 199, 110, 55, 59, 32, 18, 19, 22, 14]}
{'ZOO, AQUARIUM, OR WILDLIFE CONSERVATION': [2, 8, 6, 10, 9, 9, 6, 3, 4, 8, 18, 12, 13, 10, 8, 6, 2, 5, 3, 5]}
{'ART MUSEUM': [20, 19, 27, 43, 51, 43, 61, 42, 44, 28, 93, 63, 54, 32, 22, 24, 16, 10, 22, 8]}
{"CHILDREN'S MUSEUM": [1, 2, 7, 8, 9, 12, 15, 14, 12, 10, 48, 28, 14, 17, 7, 6, 7, 2, 7, 5]}
{'NATURAL HISTORY MUSEUM': [5, 4, 3, 7, 12, 12, 11, 4, 5, 3, 9, 14, 4, 4, 1, 2, 5, 1, 1, 0]}

In [ ]:
print(rev_options)

['0-5000', '5000-15000', '15000-30000', '30000-50000', '50000-75000', '75000-105000', '105000-140000', '140000-180000', '180000-225000', '225000-275000', '275000-495000', '495000-735000', '735000-995000', '995000-1275000', '1275000-1575000', '1575000-1895000', '1895000-2235000', '2235000-2595000', '2595000-2975000', '2975000-3375000']

In [ ]:
answer = []
for row in final:
  for key in row:
    mus_name = key
    listOfRev = row[key]
    for i in range(len(rev_options)):
      toAdd = [mus_name, rev_options[i], listOfRev[i]]
      answer.append(toAdd)

print(answer)

[['HISTORY MUSEUM', '0-5000', 45], ['HISTORY MUSEUM', '5000-15000', 64], ['HISTORY MUSEUM', '15000-30000', 99], ['HISTORY MUSEUM', '30000-50000', 129], ['HISTORY MUSEUM', '50000-75000', 113], ['HISTORY MUSEUM', '75000-105000', 113], ['HISTORY MUSEUM', '105000-140000', 94], ['HISTORY MUSEUM', '140000-180000', 86], ['HISTORY MUSEUM', '180000-225000', 69], ['HISTORY MUSEUM', '225000-275000', 52], ['HISTORY MUSEUM', '275000-495000', 124], ['HISTORY MUSEUM', '495000-735000', 63], ['HISTORY MUSEUM', '735000-995000', 28], ['HISTORY MUSEUM', '995000-1275000', 26], ['HISTORY MUSEUM', '1275000-1575000', 24], ['HISTORY MUSEUM', '1575000-1895000', 10], ['HISTORY MUSEUM', '1895000-2235000', 13], ['HISTORY MUSEUM', '2235000-2595000', 3], ['HISTORY MUSEUM', '2595000-2975000', 11], ['HISTORY MUSEUM', '2975000-3375000', 6], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '0-5000', 10], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '5000-15000', 12], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '15000-30000', 16], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '30000-50000', 18], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '50000-75000', 25], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '75000-105000', 23], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '105000-140000', 18], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '140000-180000', 18], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '180000-225000', 20], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '225000-275000', 22], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '275000-495000', 51], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '495000-735000', 30], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '735000-995000', 28], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '995000-1275000', 21], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '1275000-1575000', 23], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '1575000-1895000', 14], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '1895000-2235000', 9], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '2235000-2595000', 8], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '2595000-2975000', 7], ['ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER', '2975000-3375000', 2], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '0-5000', 4], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '5000-15000', 11], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '15000-30000', 9], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '30000-50000', 7], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '50000-75000', 11], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '75000-105000', 10], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '105000-140000', 12], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '140000-180000', 14], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '180000-225000', 9], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '225000-275000', 7], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '275000-495000', 31], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '495000-735000', 17], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '735000-995000', 7], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '995000-1275000', 8], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '1275000-1575000', 9], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '1575000-1895000', 8], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '1895000-2235000', 12], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '2235000-2595000', 10], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '2595000-2975000', 6], ['SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM', '2975000-3375000', 3], ['GENERAL MUSEUM', '0-5000', 77], ['GENERAL MUSEUM', '5000-15000', 104], ['GENERAL MUSEUM', '15000-30000', 157], ['GENERAL MUSEUM', '30000-50000', 181], ['GENERAL MUSEUM', '50000-75000', 196], ['GENERAL MUSEUM', '75000-105000', 167], ['GENERAL MUSEUM', '105000-140000', 152], ['GENERAL MUSEUM', '140000-180000', 115], ['GENERAL MUSEUM', '180000-225000', 81], ['GENERAL MUSEUM', '225000-275000', 73], ['GENERAL MUSEUM', '275000-495000', 225], ['GENERAL MUSEUM', '495000-735000', 133], ['GENERAL MUSEUM', '735000-995000', 93], ['GENERAL MUSEUM', '995000-1275000', 59], ['GENERAL MUSEUM', '1275000-1575000', 46], ['GENERAL MUSEUM', '1575000-1895000', 37], ['GENERAL MUSEUM', '1895000-2235000', 28], ['GENERAL MUSEUM', '2235000-2595000', 31], ['GENERAL MUSEUM', '2595000-2975000', 22], ['GENERAL MUSEUM', '2975000-3375000', 13], ['HISTORIC PRESERVATION', '0-5000', 283], ['HISTORIC PRESERVATION', '5000-15000', 389], ['HISTORIC PRESERVATION', '15000-30000', 480], ['HISTORIC PRESERVATION', '30000-50000', 625], ['HISTORIC PRESERVATION', '50000-75000', 551], ['HISTORIC PRESERVATION', '75000-105000', 502], ['HISTORIC PRESERVATION', '105000-140000', 347], ['HISTORIC PRESERVATION', '140000-180000', 297], ['HISTORIC PRESERVATION', '180000-225000', 237], ['HISTORIC PRESERVATION', '225000-275000', 195], ['HISTORIC PRESERVATION', '275000-495000', 351], ['HISTORIC PRESERVATION', '495000-735000', 199], ['HISTORIC PRESERVATION', '735000-995000', 110], ['HISTORIC PRESERVATION', '995000-1275000', 55], ['HISTORIC PRESERVATION', '1275000-1575000', 59], ['HISTORIC PRESERVATION', '1575000-1895000', 32], ['HISTORIC PRESERVATION', '1895000-2235000', 18], ['HISTORIC PRESERVATION', '2235000-2595000', 19], ['HISTORIC PRESERVATION', '2595000-2975000', 22], ['HISTORIC PRESERVATION', '2975000-3375000', 14], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '0-5000', 2], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '5000-15000', 8], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '15000-30000', 6], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '30000-50000', 10], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '50000-75000', 9], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '75000-105000', 9], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '105000-140000', 6], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '140000-180000', 3], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '180000-225000', 4], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '225000-275000', 8], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '275000-495000', 18], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '495000-735000', 12], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '735000-995000', 13], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '995000-1275000', 10], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '1275000-1575000', 8], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '1575000-1895000', 6], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '1895000-2235000', 2], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '2235000-2595000', 5], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '2595000-2975000', 3], ['ZOO, AQUARIUM, OR WILDLIFE CONSERVATION', '2975000-3375000', 5], ['ART MUSEUM', '0-5000', 20], ['ART MUSEUM', '5000-15000', 19], ['ART MUSEUM', '15000-30000', 27], ['ART MUSEUM', '30000-50000', 43], ['ART MUSEUM', '50000-75000', 51], ['ART MUSEUM', '75000-105000', 43], ['ART MUSEUM', '105000-140000', 61], ['ART MUSEUM', '140000-180000', 42], ['ART MUSEUM', '180000-225000', 44], ['ART MUSEUM', '225000-275000', 28], ['ART MUSEUM', '275000-495000', 93], ['ART MUSEUM', '495000-735000', 63], ['ART MUSEUM', '735000-995000', 54], ['ART MUSEUM', '995000-1275000', 32], ['ART MUSEUM', '1275000-1575000', 22], ['ART MUSEUM', '1575000-1895000', 24], ['ART MUSEUM', '1895000-2235000', 16], ['ART MUSEUM', '2235000-2595000', 10], ['ART MUSEUM', '2595000-2975000', 22], ['ART MUSEUM', '2975000-3375000', 8], ["CHILDREN'S MUSEUM", '0-5000', 1], ["CHILDREN'S MUSEUM", '5000-15000', 2], ["CHILDREN'S MUSEUM", '15000-30000', 7], ["CHILDREN'S MUSEUM", '30000-50000', 8], ["CHILDREN'S MUSEUM", '50000-75000', 9], ["CHILDREN'S MUSEUM", '75000-105000', 12], ["CHILDREN'S MUSEUM", '105000-140000', 15], ["CHILDREN'S MUSEUM", '140000-180000', 14], ["CHILDREN'S MUSEUM", '180000-225000', 12], ["CHILDREN'S MUSEUM", '225000-275000', 10], ["CHILDREN'S MUSEUM", '275000-495000', 48], ["CHILDREN'S MUSEUM", '495000-735000', 28], ["CHILDREN'S MUSEUM", '735000-995000', 14], ["CHILDREN'S MUSEUM", '995000-1275000', 17], ["CHILDREN'S MUSEUM", '1275000-1575000', 7], ["CHILDREN'S MUSEUM", '1575000-1895000', 6], ["CHILDREN'S MUSEUM", '1895000-2235000', 7], ["CHILDREN'S MUSEUM", '2235000-2595000', 2], ["CHILDREN'S MUSEUM", '2595000-2975000', 7], ["CHILDREN'S MUSEUM", '2975000-3375000', 5], ['NATURAL HISTORY MUSEUM', '0-5000', 5], ['NATURAL HISTORY MUSEUM', '5000-15000', 4], ['NATURAL HISTORY MUSEUM', '15000-30000', 3], ['NATURAL HISTORY MUSEUM', '30000-50000', 7], ['NATURAL HISTORY MUSEUM', '50000-75000', 12], ['NATURAL HISTORY MUSEUM', '75000-105000', 12], ['NATURAL HISTORY MUSEUM', '105000-140000', 11], ['NATURAL HISTORY MUSEUM', '140000-180000', 4], ['NATURAL HISTORY MUSEUM', '180000-225000', 5], ['NATURAL HISTORY MUSEUM', '225000-275000', 3], ['NATURAL HISTORY MUSEUM', '275000-495000', 9], ['NATURAL HISTORY MUSEUM', '495000-735000', 14], ['NATURAL HISTORY MUSEUM', '735000-995000', 4], ['NATURAL HISTORY MUSEUM', '995000-1275000', 4], ['NATURAL HISTORY MUSEUM', '1275000-1575000', 1], ['NATURAL HISTORY MUSEUM', '1575000-1895000', 2], ['NATURAL HISTORY MUSEUM', '1895000-2235000', 5], ['NATURAL HISTORY MUSEUM', '2235000-2595000', 1], ['NATURAL HISTORY MUSEUM', '2595000-2975000', 1], ['NATURAL HISTORY MUSEUM', '2975000-3375000', 0]]

In [ ]:
headers = ['Museum Type', 'Revenue', 'Number of Museums']
df4 = pd.DataFrame(answer, columns=headers)
print(df4)

                Museum Type          Revenue  Number of Museums
0            HISTORY MUSEUM           0-5000                 45
1            HISTORY MUSEUM       5000-15000                 64
2            HISTORY MUSEUM      15000-30000                 99
3            HISTORY MUSEUM      30000-50000                129
4            HISTORY MUSEUM      50000-75000                113
..                      ...              ...                ...
175  NATURAL HISTORY MUSEUM  1575000-1895000                  2
176  NATURAL HISTORY MUSEUM  1895000-2235000                  5
177  NATURAL HISTORY MUSEUM  2235000-2595000                  1
178  NATURAL HISTORY MUSEUM  2595000-2975000                  1
179  NATURAL HISTORY MUSEUM  2975000-3375000                  0

[180 rows x 3 columns]

In [ ]:
import altair as alt
from vega_datasets import data

alt.Chart(df4).mark_bar().encode(
    x = alt.X('Revenue', sort=rev_options),
    y = 'Number of Museums',
    color = 'Museum Type'
)

alt.Chart(...)

In [ ]:
df4.to_pickle('/content/gdrive/MyDrive/Programming/museums_dataset_filtered.pkl')